.topheader {
    
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--navbar-shallow-color);
    /* background-image: url("/img/fondoVangot.jpg"); */
    left: 0;
    top: 0;
    width: 100%;

}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    max-width: 980px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    /* font-size: 18px; */
    font-size: 1em;
    font-weight: 500;
    color: var(--primary-color);
}
.logo img {
    /* border-radius: 20%; */
    width: 30%;
}

.logo h1 {
    padding-left: 40px;
    font-size: 1.2em;
}


.social-network i {
    font-size: 1.5em;
}
.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}